html {
  font-size: 18px;
  }


 body {
   line-height: 1.4;
 }

/*Header style*/
.header {
  display: flex;
  width: 100%;
  height: 31rem;
  align-items: center;
  flex-direction: column;
  background-image: url("../glasses-bg.png");
  background-size: cover;
}

.site {
  display: flex;
  width: 960px;
  height: 3rem;
  background-color: cadetblue;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  margin-right: 2rem;
}

.logoh5 {
  display: inline-flex;
  /*justify-content: flex-start;*/
  align-items: center;
  hight: 3rem;
  width: auto;
}

.logo {
  display: inline-flex;
  /*justify-content: flex-start;*/
  align-items: center;
  hight: 1.5rem;
  width: 4rem;
  margin: 0rem 1rem 0rem 2rem;
}

.torto {
  margin: 1rem 0;
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
}


/* Header navigation for spam items */
.nav {
  display: inline-flex;
  height: auto;
  width: auto;
}

nav span {
  margin-right: 2rem;
}


nav a {
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  margin: 1rem 0;
  font-weight: bold;
}

.banner-site {
  display: flex;
  width: 960px;
  height: auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10rem;
  margin-left: 2rem;
}


 .banner {
  font-family: Helvetica;
  font-size: 2rem;
  padding: 1.5rem 5rem;
  font-weight: bold;
  line-height: 1.2;
  background-color: white;
}


/*Main section*/
.main {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  flex-direction: column;
}

/* Service icon style */
.services {
    height: auto;
    width: 960px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }


  .box1 {
    display: flex;
    width: 5rem;
    height: 8rem;
    justify-content: space-between;
    margin: 3rem 3rem;
    flex-direction: column;
    align-items: center;
  }

  .box2,
  .box3 {
    display: flex;
    width: 5rem;
    height: 8rem;
    margin: 3rem 3rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

/* Product individual image style */
  .img1 {
    width: 3.5rem;
    height: auto;
    margin: 0rem 0;
    display: flex;
  }


  .img2,
  .img3 {
    width: 5rem;
    height: auto;
    margin: 0rem 0;
    display: flex;
  }

  .box1 h6,
  .box2 h6,
  .box3 h6 {
    display: flex;
    color: black;
    text-align: center;
    font-family: Helvetica;
    font-size: 1rem;
    line-height: 1.4;
  }

/* Philisophy and appointments container*/
  .phil-appoint {
    height: auto;
    width: 960px;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5rem;
  }

    .phil {
      display: inline-flex;
      width: 35%;
      align-items: flex-start;
      flex-direction: column;
      margin-right: 5%;

      }

      .phil h6 {
        display: flex;
        width: 10rem;
        color: white;
        font-family: Helvetica;
        text-align: left;
        font-size: 1rem;
        font-weight: bold;
        align-items: center;
        background-color: cadetblue;
        padding: 0.5rem 0;
        padding-left: 1.25rem;
        margin-bottom: 1rem;
      }

      /* Footer */
      .base {
        height: 9.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      /*Footer dist container defines the footer dimensions and orientation*/
      .dist {
        display: flex;
        width: 960px;
        height: 9.5rem;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        background-color: azure;
      }

      /*Black logo in footer*/
      .logob {
        display: inline-flex;
        align-items: center;
        hight: 1.5rem;
        width: 4rem;
        margin: 4rem 0 4rem 4rem;
      }

      .dist h3 {
        display: inline-flex;
        color: black;
        width: auto;
        height: auto;
        font-size: 1rem;
        text-align: left;
        margin-left: 1rem;
      }

      @media only screen and (max-width: 1024px) and (min-width: 470px) {
        .header {
          height: 22rem;
        }

        .site {
          margin-top: 0rem;
          margin-right: 0rem;
        }

        .banner-site {
          margin-top: 5rem;
          margin-right: 4rem;
          margin-left: 0rem;
        }

         .banner {
          font-size: 1.33rem;
          padding: 0.75rem 4rem;
        }

        .logob {
          margin: 4rem 0 4rem 6rem;
        }

      }
