
/*Base font definition*/
html {
  font-size: 18px;
  }


 body {
   line-height: 1.4;
 }

/*Header container style*/
.header {
  display: flex;
  width: 100%;
  height: 31rem;
  align-items: center;
  flex-direction: column;
  background-image: url("../glasses-bg.png");
  background-size: cover;
}

/*Heder 960px site container*/
.site {
  display: flex;
  width: 960px;
  height: 3rem;
  background-color: cadetblue;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  margin-right: 2rem;
}

/* Logo and text h5 container */
.logoh5 {
  display: inline-flex;
  align-items: center;
  hight: 3rem;
  width: auto;
}

/*White header logo*/
.logo {
  display: inline-flex;
  align-items: center;
  hight: 1.5rem;
  width: 4rem;
  margin: 0rem 1rem 0rem 2rem;
}

/*header text*/
.torto {
  margin: 1rem 0;
  font-family: Helvetica;
  font-size: 1rem;
  color: white;
}

/*Menu text in header hidden for large screens*/
#menu-new {
  display: none;
}

/* Header navigation for span items */
.nav {
  display: inline-flex;
  height: auto;
  width: auto;
}

nav span {
  margin-right: 2rem;
}

nav a {
  color: white;
  font-family: Helvetica;
  font-size: 1rem;
  margin: 1rem 0;
  font-weight: bold;
}

/*Banner container*/
.banner-site {
  display: flex;
  width: 960px;
  height: auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10rem;
  margin-left: 2rem;
}


 .banner {
  font-family: Helvetica;
  font-size: 2rem;
  padding: 1.5rem 5rem;
  font-weight: bold;
  line-height: 1.2;
  background-color: white;
}


/*Main section*/
.main {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  flex-direction: column;
}

/* Service icon style */
.services {
    height: auto;
    width: 960px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

/*Icon and icon text containers*/
  .box1 {
    display: flex;
    width: 5rem;
    height: 8rem;
    justify-content: space-between;
    margin: 3rem 3rem;
    flex-direction: column;
    align-items: center;
  }

  .box2,
  .box3 {
    display: flex;
    width: 5rem;
    height: 8rem;
    margin: 3rem 3rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

/* Icon individual image style */
  .img1 {
    width: 3.5rem;
    height: 4.5rem;
    margin: 0rem 0;
    display: flex;
  }

  .img2,
  .img3 {
    width: 5rem;
    height: 2.5rem;
    margin: 0rem 0;
    display: flex;
  }

/*Icon text*/
  .box1 h6,
  .box2 h6,
  .box3 h6 {
    display: flex;
    color: black;
    text-align: center;
    font-family: Helvetica;
    font-size: 1rem;
    line-height: 1.4;
  }

/* Philosophy and appointments container*/
  .phil-appoint {
    height: auto;
    width: 960px;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 5rem;
  }

/*Individual philosophy and appointments container*/
  .phil {
    display: inline-flex;
    width: 35%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 5%;
    }

  /*Individual Header*/
  .phil h6 {
        display: flex;
        width: 10rem;
        color: white;
        font-family: Helvetica;
        text-align: left;
        font-size: 1rem;
        font-weight: bold;
        align-items: center;
        background-color: cadetblue;
        padding: 0.5rem 0;
        padding-left: 1.25rem;
        margin-bottom: 1rem;
        line-height: 1.4;
      }

  /* Text*/
  .phil p {
        color: black;
        font-family: Helvetica;
        text-align: left;
        font-size: 1rem;
        line-height: 1.4;
      }

  /* Footer */
  .base {
        height: 9.5rem;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      /*Footer dist container defines the footer dimensions and orientation*/
  .dist {
        display: flex;
        width: 960px;
        height: 9.5rem;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        background-color: azure;
      }

  /*Black logo in footer*/
  .logob {
        display: inline-flex;
        align-items: center;
        hight: 1.5rem;
        width: 4rem;
        margin: 4rem 0 4rem 4rem;
      }

  .dist h3 {
        display: inline-flex;
        color: black;
        font-style: Helvetica;
        line-height: 1.4;
        font-size: 1rem;
        text-align: left;
        margin-left: 1rem;
      }

  /* 1024px screen adjustments */
  @media only screen and (max-width: 1024px) and (min-width: 470px) {

        /*Header adjustment*/
        .header {
          width: 100%;
          height: 22rem;
        }

        .site {
          width: 100%;
          margin-top: 0rem;
          margin-right: 0rem;
        }

        /* Banner adjustment*/
        .banner-site {
          width: 100%;
          margin-top: 5rem;
          margin-right: 4rem;
          margin-left: 0rem;
        }

         .banner {
          font-size: 1.33rem;
          padding: 0.75rem 4rem;
        }

        /*Main container adjustment*/
        .main {
            width: 100%;
          }

          .phil-appoint {
            width: auto;
            margin-right: 5%;
          }

        /*Footer logo adjustment*/
        .base {
          width: 100%;
        }

        .dist {
          width: 100%;
        }

        .logob {
          margin: 4rem 0 4rem;
          margin-left: 12.5%;
        }
      }

  /* 470px screen adjustments */
  @media only screen and (max-width: 470px) {

        /*Header adjustment*/
        .header {
          width: 100%;
          height: 17rem;
        }

        .site {
          width: 100%;
          margin: 0;
        }

        /* Header text hidden*/
        .torto {
          display: none;
        }

        /* Header Menu navigation adjustment*/
        #menu-new {
          display: inline-flex;
        }

        nav a {
          color: white;
          font-family: Helvetica;
          font-size: 1rem;
          margin: 1rem 0;
          font-weight: bold;
        }

        /*Apart of Menu text the rest of menu navigation text hidden */
        #menu-all {
          display: none;
        }

        /* Banner adjustment*/
        .banner-site {
          width: 100%;
          margin-top: 9rem;
          margin-left: 0;
          background-color: white;
        }

         .banner {
          width: 100%;
          font-size: 1rem;
          padding: 1rem 0rem;
          text-align: center;
        }

        /* Services icon container adjustment */
        .services {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 2.23rem; /*Required 3.77rem - 1.54rem (box1)*/
          }

          /*Individual icon container adjustments */
          .box1 {
            display: flex;
            width: 5rem;
            height: auto;
            margin: 1.54rem;
          }

          .box2,
          .box3 {
            display: flex;
            width: auto;
            height: 4rem;
            margin: 1.54rem;
          }

          .box1 h6,
          .box2 h6,
          .box3 h6 {
            font-size: 0.77rem;
            margin-top: 0.5rem;
          }

          /* Philosophy and appointments container*/
          .phil-appoint {
              height: auto;
              width: 100%;
              display: flex;
              margin-top: 2.23rem; /*3.77rem - 1.54rem*/
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin-bottom: 0rem; /* margin-bottom 4rem set in .phil p and
                                      1rem will be added in footer .dist*/
              }

            .phil {
                display: flex;
                width: 100%;
                margin-left: 0%;
                }

            .phil h6 {
                display: flex;
                width: 100%;
                justify-content: center;
                padding-left: 0rem;
                margin-bottom: 1rem;
                }

            .phil p {
                margin-bottom: 4rem;
                font-size: 0.77rem;
                }


            /*Footer dist container defines the footer dimensions and orientation*/
            .dist {
                  display: flex;
                  width: 100%;
                  height: 9.5rem;
                  margin-top: 1rem;
                  justify-content: center;
                  background-color: azure;*/
                }

            /*Black logo in footer*/
            .logob {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  hight: 1.5rem;
                  width: 4rem;
                  margin: 4rem 0;
                }

            /*Text in footer hidden*/
            .dist h3 {
                  display: none;
                }
      }
